@import url('https://fonts.googleapis.com/css?family=Yantramanav');
body {
    font-size: medium;
    font-family : 'Yantramanav', sans-serif;
    color: black;
    background-color: #666666;
}
th {
color: black;
 border-collapse: collapse;
    padding: 10px;
    font-size: larger;
}
tr{
    border: 1px solid black;
}
table, td {
    border-collapse: collapse;
    color: black;
    background-color: lightgray;
    padding: 10px;
}
h2{
    font-size: x-large;
    text-align: center;
    color: white;
}
div{
    font-size: large;
    padding-top: 5px;
    padding-right: 5px;
    color: white;
}